#include <windows.h>
#include "resource.h"

283 ICON "game_icon.ico"

DLG1 DIALOG DISCARDABLE 0, 0, 129, 147
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT
//STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SETFONT | WS_OVERLAPPEDWINDOW	// 中央に表示させるために『WS_OVERLAPPEDWINDOW』を追加している
CAPTION "解像度選択"
FONT 9, "MS Shell Dlg"
{
 //CONTROL "性別", IDC_GROUPBOX100, "BUTTON", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 7, 7, 85, 35
 CONTROL "1280×720"  ,		IDC_RADIOBUTTON101, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | WS_GROUP,	14,21, 64, 14
 CONTROL "1980×1080（推奨）"  ,	IDC_RADIOBUTTON102, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON,		14, 45, 64, 14
 //CONTROL "男"  , IDC_LABEL103, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 100, 23, 128, 14

 //CONTROL "料金", IDC_GROUPBOX110, "BUTTON", WS_CHILD | WS_VISIBLE | BS_GROUPBOX, 7, 56, 85, 35
 //CONTROL "子供", IDC_RADIOBUTTON111, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | WS_GROUP, 14, 70, 32, 14
 //CONTROL "大人", IDC_RADIOBUTTON112, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 53, 70, 32, 14
 //CONTROL "子供", IDC_LABEL113, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 100, 72, 128, 14

 CONTROL "OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON, 7, 126, 54, 14
 //CONTROL "キャンセル", IDCANCEL "BUTTON", WS_CHILD | WS_VISIBLE | BS_PUSHBUTTON, 68, 126, 54, 14
}

